* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Global styles */
html,
body {
  min-width: 1000px;
}

@media (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .height-ch {
    height: auto;
  }
  .rounder-home-video {
    border-radius: 0.6rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 18px;
  text-align: left;
  font-size: 16px;
}
thead {
  background-color: #303339;
}
th {
  font-weight: 400;
  text-transform: uppercase;
}
td {
  font-weight: 300;
}

tbody {
  background-color: #292c30;
}

.modalBackground {
  position: fixed;
  z-index: 9999; /* Ensure a very high value */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ModalBody {
  background-color: black;
  margin: 9% auto;
  /* padding: 20px; */
  min-width: 30%;
  max-width: 33%;
  border-radius: 8px;
  z-index: 10000;
}
