@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Global styles */
/* html,
body {
  min-width: 1000px;
} */

body {
  font-family: "Nunito Sans", sans-serif !important;
}

/* @media (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }
} */

@media only screen and (max-width: 768px) {
  .height-ch {
    height: auto;
  }
  .rounder-home-video {
    border-radius: 0.6rem;
  }
}
.modalBackground {
  position: fixed;
  z-index: 9999; /* Ensure a very high value */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.196);
}

.ModalBody {
  /* background-color: black; */
  margin: 9% auto;
  /* padding: 20px; */
  min-width: 30%;
  max-width: 43%;
  border-radius: 8px;
  z-index: 10000;
}
