* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Global styles */
html,
body {
  min-width: 1000px;
}

@media (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .height-ch {
    height: auto;
  }
  .rounder-home-video {
    border-radius: 0.6rem;
  }
}
