* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.text-one-zero-nine {
  color: rgb(109, 109, 109);
}
.text-one-zero-nine-t {
  color: rgba(0, 0, 0, 0.781);
}
.bg-one-zero-nine {
  background: rgba(109, 109, 109, 0.281);
}
.button-background {
  background-image: linear-gradient(135deg, #0084e9, #762cec);
  color: #fff;
}

.center-box {
  padding-left: 50%;
  padding-right: 50%;
}

.background-home {
  padding-right: 5%;
  padding-left: 5%;
  background-image: url("https://global-uploads.webflow.com/62efc7cb58ad153bfb146988/63024ae3b0ee91021efb94e0_header.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-video-section {
  background-image: url("https://i.vimeocdn.com/video/1523939837-409fd28fc27eada34b75912d18481f4bb5c9a04a477de2c4d419bae2a07ba076-d?mw=1100&mh=619");
}

/* .menu-item:hover span i {
  transition-duration: 1s;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.height-ch {
  height: 60vw;
}

.box-shadow-icon {
  box-shadow: 1px 2px 4px 1px #c1a6a6;
}
